{% load static %}

{% block body %}

{% include 'recruiter_navbar.html'%}

<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('new password and confirmpassword is not atched')
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

<marquee style="font-size:20px; background-color:green; margin-top:2px; color:black; font-weight:bold;">
   Change Password
</marquee>
<hr>

<form class="container mt-3" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" name="currentpassword" class="form-control" required="true"><br>
    <label><b>New Password</b></label>
    <input type="password" name="newpassword" class="form-control" required="true"><br>
    <label><b>Confirm New Password</b></label>
    <input type="password" name="confirmpassword" class="form-control" required="true"><br>
    <label><b>Stetus</b></label>

    <input type="submit" value="submit" class="btn btn-primary">
</form>
{% include 'footer.html' %}
{% ifequal error "no"  %}
<script>
    alert("Password Change successful");
    window.location=('{% url 'Logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong,Try Again...");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Your current password is wrong..");
</script>
{% endifequal %}
{% endblock %}