{% load static %}
{% block body %}
{% include 'navbar.html'%}
<marquee style="font-size:20px; background-color:pink; margin-top:2px; color:black; font-weight:bold;">
    Recruiter Login
</marquee>
<form class="container mt-3" method="post">
    {% csrf_token %}
    <label><b>UserName</b></label>
    <input type="text" name="uname" placeholder="Enter User Name" class="form-control"><br>
    <label><b>Password</b></label>
    <input type="password" name="pwd" placeholder="Enter Password" class="form-control"> <br>
    <input type="submit" value="submit" class="btn btn-dark">
    <a href="{% url 'recruiter_signup' %}" class="btn btn-primary">Creat An Account</a>
</form>
{% ifequal error "no" %}
<script>
    alert("Login Successful");
    window.location=('{% url 'recruiter_home' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid Credentials,Try Again...");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Stetus is pending,Try Again...");
</script>
{% endifequal %}


{% include 'footer.html' %}
{% endblock %}