<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet"/>
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
    <link href="{% static 'css/all.css'%}" rel="stylesheet"/>
    <script src="{% static 'js/all.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <title>Job Portal</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'images/logo.jpg' %}" style="width:180px; height:150px;">
        </div>
        <div class="col-sm-6 mt-5">
            <span style="font-weight:bold; font-size:30px;">
                <span style="color:red;">Online Job</span>
                <span style="color:green;">Portal System</span>
            </span>
        </div>
        <div class="col-sm-3 mt-5" style="padding-left:10%;">
            <span style="font-weight:bold; font-size:30px;">
                <span><a href="#"><i class="fab fa-twitter pl-2"style="color:#00acee;"></i></a> </span>
                <span><a href="https://www.facebook.com/surajyadav8205"><i class="fab fa-facebook pl-2 " style="color:#3b5998;"></i></a> </span>
                <span><a href="#"><i class="fab fa-linkedin pl-2"style="color:#0e76a8;"></i></a> </span>
                <span><a href="https://www.instagram.com/surajyadav8205/"><i class="fab fa-instagram pl-2" style="color:#fe5da0;"></i></a> </span>
            </span>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-sm col">
    <a class="navbar-brand text-white pl-5 pol">Job Portal</a>
    <ul class="navbar-nav">
        <li class="nav-itom">
            <a class="nav-link" href="{% url 'recruiter_home' %}" style="margin-left:100px;"><i class="fas fa-home mr-2"></i>Home</a>
        </li>
        <li class="nav-itom">
            <a class="nav-link" href="{% url 'job_list' %}"><i class="fas fa-list-ol mr-2"></i>Job List</a>
        </li>
        <li class="nav-itom">
            <a class="nav-link" href="{% url 'add_job' %}"><i class="fas fa-user-md mr-2"></i>Add Job</a>
        </li>
        <li class="nav-itom">
            <a class="nav-link" href="#"><i class="fas fa-user-md mr-2"></i>Apply Candidate</a>
        </li>
        <li class="nav-itom">
            <a class="nav-link" href="{% url 'change_passwordrecruiter' %}"><i class="fa fa-key mr-2"></i>ChangePassword</a>
        </li>
        <li class="nav-itom">
            <a class="nav-link" href="{% url 'Logout' %}"><i class="fas fa-user-plus mr-2"></i>LogOut</a>
        </li>
    </ul>
    <a class="navbar-brand text-white pl-5 pol">{{request.user.first_name}} {{request.user.last_name}}</a>
</nav>
</body>
</html>